body {
    position: relative;
    width: inherit;
    background-color: #ffffff;
}

img{
    height: 44px;
    width: 44px;
    margin-left: 13%;
}

.google{
    height: 20px;
    width: 20px;
    margin-left: -1px;
}

h2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;

}

.signinto{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.03em;
    color: #788787;

}

span{
    font: 0.5em sans-serif;
    font-weight: 400;
    color: #788787;
    
    letter-spacing: 0.01em;
}

.section {
    position: absolute;
    width: 64.74%;
    height: 100%;
    background-color: #ffffff;
}

.blank {
    position: absolute;
    width: 35.26%;
    height: 100%;
    left: 64.74%;
    background: #F9F7F5;
}

.sign {
    margin-top: 14%;
    margin-left: 34%;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 32.18%;
}

 .bttn, .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    gap: 4px;
    background: #EBF2FA;
    border-radius: 4px;
    border: 1px solid #ffffff;
    width: 150%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    margin-bottom: 12px;
    font: 0.8em sans-serif;
    align-items: center;


}

label, .mag {
    font: 0.7em sans-serif;
    color: black;
}



input{
    background-color: #ffffff;
    width: 150%;
    height: 36px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #888179;
}

input:focus {
	outline: none;
  	border: 1px solid #0045F6;
}

.btn {
    background: #0045F6;
    color: #ffffff;
    font: 0.8em sans-serif;
    
}
.btn:hover{
    background-color: black;
}
 .container{
     background-color: #D1F2FA;
     display: flex;
     align-items: center;
     width: 145%;
     padding: 4px;
     border-radius: 4px;
     border: 1px solid #ffffff;
     color: black;
    

 }

 .magic{
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-top: -10px;
    margin-right: 4px;
 }

 p{
    font: 0.7em sans-serif;
    color: #788787;
    
 }

 

 .cont {
    text-align: center; 
}

.line {
    margin-top: 36px;
    height: 1px;
    width: 150%;
    background: #F0F1F1;
}


    


a{
    color: #0045F6;
    font: 1em sans-serif;
    
}

footer {
    position:relative;
    display: flex;
    left: 13%;
    bottom: 16px;
    color: black;


  }


.privacy{
    margin-left: 8px;
}  
.contact{
    margin-left: 8px;
}  
.term{
    margin-left: 8px;
}  

